.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-color: rgba(0,0,0,0.85);
    padding: 20px;
}

.text-content {
    font-size: 30px;
    text-align: left;
    max-width: 1600px;
    line-height: 1.5;
    color: gray;
}

h1 {
    margin-bottom: 20px;
}

.text-content p {
    margin-bottom: 15px;
}