.edit-dish-form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Расстояние между полями */
    width: 100%; /* Обеспечивает растягивание всей формы */
}

.edit-dish-form input,
.edit-dish-form select {
    width: 100% !important; /* Убеждаемся, что поля растягиваются на всю ширину */
    padding: 10px; /* Добавляем отступы для лучшего восприятия */
    margin: 5px 0; /* Добавляем небольшой отступ сверху и снизу */
    box-sizing: border-box; /* Учитываем паддинги и бордеры */
}

.edit-dish-form label {
    font-weight: bold; /* Жирные подписи */
}